@model IEnumerable<GroundBNB.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}

<h1>Find Your Dream Vacation Apartment!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxNumOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th>
                Rating
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h5>
                        <a asp-action="Details" asp-route-id="@item.ID" style="">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </h5><br />

                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    <h6>City: </h6>@Html.DisplayFor(modelItem => item.City)<br />
                    <h6>St: </h6> @Html.DisplayFor(modelItem => item.Street)<br />
                    <h6>Floor: </h6> @Html.DisplayFor(modelItem => item.Floor)<br />
                    <h6>Apartment Number: </h6> @Html.DisplayFor(modelItem => item.ApartmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfRooms)
                </td>
                <td>
                    Fit For @Html.DisplayFor(modelItem => item.MaxNumOfGuests) Guests
                </td>
                <td>
                    <h6>$@Html.DisplayFor(modelItem => item.PricePerDay)</h6>/Day
                </td>
                <td>
                    @{
                        float rating = 0;
                        int count = 0;
                        foreach (Reservation res in item.Reservations)
                        {
                            if (res.Rating.HasValue)
                            {
                                rating += res.Rating.Value;
                                count++;
                            }
                        }
                        rating /= count;
                        if (count > 0)
                        {
                            <a><h6>@rating Stars!</h6>(@count Reviews)</a>
                        }
                        else
                        {
                            <a>UnRated</a>
                        }
                    }

                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
