@model IEnumerable<GroundBNB.Models.Apartment>

@{
    ViewData["Title"] = "Index";
    Dictionary<int, int> reviewCount = (Dictionary<int, int>)ViewData["ApartmentReviewCounter"];
    var error = TempData["Error"] as string;
    var startDate = ViewData["StartDateFilter"] as string;
    var endDate = ViewData["EndDateFilter"] as string;
}

<style>
    label {
        font-weight: bold;
    }
</style>
<main class="main-list">
    <h1>Find Your Dream Vacation Apartment!</h1>

    @if (!string.IsNullOrEmpty(error))
    {
        <h2 class="alert-danger" style="padding:20px;">@error</h2>
    }

    <form asp-action="Index" method="get" style="margin-top: 10px;">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="searchName">Find Apartment By Title</label>
                <input type="text" id="searchName" class="form-control" name="searchName"
                    value="@ViewData["NameFilter"]">
            </div>
            <div class="form-group col-md-6">
                <label for="searchCity">Find Apartment By City</label>
                <input type="text" id="searchCity" class="form-control" name="searchCity"
                    value="@ViewData["CityFilter"]">
            </div>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" class="form-control" name="startDate" value="@startDate">
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" class="form-control" name="endDate" value="@endDate">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <button class="btn btn-danger" asp-action="Index">Clear Search</button>
    </form>
</main>
<main class="main-list">
    <div class="sort-options">
        <strong>Sort by: </strong>
        <a class="btn btn-info" asp-action="Index" asp-route-sortOrder="@ViewData["RoomsSortParm"]"
            asp-route-searchName="@ViewData["NameFilter"]"
            asp-route-searchCity="@ViewData["CityFilter"]">@Html.DisplayNameFor(model => model.NumOfRooms)</a>

        <a class="btn btn-info" asp-action="Index" asp-route-sortOrder="@ViewData["NumOfGuestsSortParm"]"
            asp-route-searchName="@ViewData["NameFilter"]"
            asp-route-searchCity="@ViewData["CityFilter"]">@Html.DisplayNameFor(model => model.MaxNumOfGuests)</a>

        <a class="btn btn-info" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]"
            asp-route-searchName="@ViewData["NameFilter"]"
            asp-route-searchCity="@ViewData["CityFilter"]">@Html.DisplayNameFor(model => model.PricePerDay)</a>

        <a class="btn btn-info" asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParm"]"
            asp-route-searchName="@ViewData["NameFilter"]" asp-route-searchCity="@ViewData["CityFilter"]">Rating</a>
    </div>

    @foreach (var item in Model)
    {
        <section>
            <a asp-action="Details" asp-route-id="@item.ID" class="container-a">
                <div class="data">
                    <div class="desc">
                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <p>
                            <strong>St: </strong> @Html.DisplayFor(modelItem => item.Street)<br />
                            <strong>Floor: </strong> @Html.DisplayFor(modelItem => item.Floor)<br />
                            <strong>Apartment Number: </strong> @Html.DisplayFor(modelItem => item.ApartmentNumber) <br />
                            <strong>Fit For @Html.DisplayFor(modelItem => item.MaxNumOfGuests) Guests</strong>
                        </p>
                    </div>
                    <div class="tools">
                        @if (User.Identity.IsAuthenticated && startDate != null && endDate != null)
                        {
                            <a asp-controller="Reservations" asp-action="Create" asp-route-startDate="@startDate"
                        asp-route-endDate="@endDate" asp-route-apID="@item.ID">Add Reservation</a>
                        }
                    </div>
                </div>
                <div class="footerdata">
                    @Html.DisplayFor(modelItem => item.City) <span>|</span> $@Html.DisplayFor(modelItem =>
                item.PricePerDay)/day <span>|</span> @Html.DisplayFor(modelItem => item.NumOfRooms) Rooms

                    <span>|</span> @Html.Raw(reviewCount[item.ID] > 0 ? string.Format("{0} Stars! ({1} Reviews)",
                item.AvgRating, reviewCount[item.ID]) : "UnRated")

                </div>
            </a>
        </section>
    }
</main>