@model IEnumerable<GroundBNB.Models.Apartment>

@{
    ViewData["Title"] = "Index";
    Dictionary<int, int> reviewCount = (Dictionary<int, int>)ViewData["ApartmentReviewCounter"];
}

<h1>My Apartments!</h1>

<p>
    <a asp-action="Create">Create New Apartment</a>
    <a class="btn-sm btn-info" asp-controller="Reservations" asp-action="ReservationsForMyApartments">View Reservations For My Apartments</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxNumOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th>
                Rating
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h5>
                        <a asp-action="Details" asp-route-id="@item.ID" style="">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </h5><br />

                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    <h6>City: </h6>@Html.DisplayFor(modelItem => item.City)<br />
                    <h6>St: </h6> @Html.DisplayFor(modelItem => item.Street)<br />
                    <h6>Floor: </h6> @Html.DisplayFor(modelItem => item.Floor)<br />
                    <h6>Apartment Number: </h6> @Html.DisplayFor(modelItem => item.ApartmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfRooms)
                </td>
                <td>
                    Fit For @Html.DisplayFor(modelItem => item.MaxNumOfGuests) Guests
                </td>
                <td>
                    <h6>$@Html.DisplayFor(modelItem => item.PricePerDay)</h6>/Day
                </td>
                <td>
                    @{
                        if (reviewCount[item.ID] > 0)
                        {//add a link to all reviews
                            <a><h6>@item.AvgRating Stars!</h6>(@reviewCount[item.ID] Reviews)</a>
                        }
                        else
                        {
                            <a>UnRated</a>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit |</a>
                    <a name="remove_ap" data-id="@item.ID">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $.each($("a[name='remove_ap']"), function (index, e) {
                $(this).click(function () {
                    var id = $(this).data("id");
                    $.post('/api/ApartmentsApi/Delete', { id: id }, function (data, status) {
                    });
                })
            })
        })
    </script>
}