@model IEnumerable<GroundBNB.Models.Apartment>

@{
    ViewData["Title"] = "Index";
    Dictionary<int, int> reviewCount = (Dictionary<int, int>)ViewData["ApartmentReviewCounter"];
}

<main class="main-list">
        <h1>
            My Apartments
        </h1>
        <p>
            <a class="btn btn-info" asp-action="Create">Add New Apartment</a>
            <a class="btn btn-info" asp-controller="Reservations" asp-action="ReservationsForMyApartments" >View Reservations For My Apartments</a>
        </p>

        @foreach (var item in Model)
        {
            <section>
                <a asp-action="Details" asp-route-id="@item.ID" class="container-a">
                <div class="data">
                    <div class="desc">
                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <p>
                            <strong>St: </strong> @Html.DisplayFor(modelItem => item.Street)<br />
                            <strong>Floor: </strong> @Html.DisplayFor(modelItem => item.Floor)<br />
                            <strong>Apartment Number: </strong> @Html.DisplayFor(modelItem => item.ApartmentNumber) <br/>
                            <strong>Fit For @Html.DisplayFor(modelItem => item.MaxNumOfGuests) Guests</strong>
                        </p>
                    </div>
                    <div class="tools">
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit |</a>
                        <a href="javascript: void(0);" name="remove_ap" data-id="@item.ID">Remove</a>
                    </div>
                </div>
                <div class="footerdata">
                    @Html.DisplayFor(modelItem => item.City) <span>|</span> $@Html.DisplayFor(modelItem => item.PricePerDay)/day <span>|</span> @Html.DisplayFor(modelItem => item.NumOfRooms) Rooms 
                    
                    <span>|</span> @Html.Raw(reviewCount[item.ID] > 0 ? string.Format("{0} Stars! ({1} Reviews)", item.AvgRating, reviewCount[item.ID]) : "UnRated")
                </div>
                </a>
            </section>
        }
</main>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $.each($("a[name='remove_ap']"), function (index, e) {
                $(this).click(function () {
                    var id = $(this).data("id");
                    $that = $(this);
                    $.post('/api/ApartmentsApi/Delete', { id: id }, function (data, status) {
                        if(data === true) {
                            $that.parent().parent().parent().remove();
                        }
                    });
                })
            })
        })
    </script>
}