<!DOCTYPE html>
@using System.Text.RegularExpressions
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ground BNB</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<body>

    <header>
        <div class="navigation">
            <div class="left-nav">
                <a href="/">
                    <div class="logo"></div>
                    <div class="titlelogo">
                        Ground BNB
                    </div>
                </a>
            </div>
            <div class="right-nav">
                <a class="btn btn-light" asp-area="" asp-controller="Apartments" asp-action="Index">Apartments</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-light" asp-area="" asp-controller="Reservations" asp-action="MyReservation">My
                        Reservations</a>
                    <a class="btn btn-light" asp-area="" asp-controller="Apartments" asp-action="MyApartments"
                    asp-route-myAps="@true">My Apartments</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-light" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    <a class="btn btn-light" asp-area="" asp-controller="Statistics" asp-action="Index">Site Statistics</a>
                    <a class="btn btn-light" asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    <a class="btn btn-light" asp-area="" asp-controller="Users" asp-action="Create">Sign Up</a>
                }
                else
                {
                    var userID = @User.Claims.FirstOrDefault(c => c.Type == "ID").ToString().Replace("ID: ", "");

                    <a class="btn btn-light" asp-area="" asp-controller="Users" asp-action="Edit_user"
                    asp-route-id="@userID">Settings</a>
                    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                }
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer>
        &copy; 2021 All rights reserved to GroundBNB
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
