@model GroundBNB.Models.Reservation

@{
    ViewData["Title"] = "Create";
    var startDate = ViewData["StartDateFilter"] as string;
    var endDate = ViewData["EndDateFilter"] as string;
    var apID = ViewData["ApartmentID"];
    var userID = User.Claims.FirstOrDefault(c => c.Type == "ID").Value;
    
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberOfGuests" class="control-label"></label>
                <input asp-for="NumberOfGuests" class="form-control" />
                <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input readonly asp-for="StartDate" class="form-control" value="@startDate" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input readonly asp-for="EndDate" class="form-control" value="@endDate" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PurchseDate" value="@DateTime.Now" class="form-control" />
            <input type="hidden" asp-for="ApartmentID" value="@apID" class="form-control" />
            <input type="hidden" asp-for="GuestID" value="@userID" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
