@model IEnumerable<GroundBNB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>My Reservations!!!</h1>

<form asp-action="MyReservation" method="get">
    <div class="form-actions no-color">

        <h5>Find Reservation By Apartment:</h5> <input type="text" name="searchAp" value="@ViewData["ApFilter"]" />
        <h5>Find Reservation By City:</h5> <input type="text" name="searchCity" value="@ViewData["CityFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary" />

    </div>
    <a class="btn-sm btn-danger" asp-action="MyReservation">Clear Search</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchseDate)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Apartments" asp-route-id="@item.Apartment.ID" style="">
                        @Html.DisplayFor(modelItem => item.Apartment.Title)
                        </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.Email)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete |</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
