@model IEnumerable<GroundBNB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    var date = ViewData["DateFilter"] as string;
    bool pastRes = (bool)ViewData["PastRes"];

}

<h1>My Reservations!!!</h1>

<form asp-action="MyReservation" method="get">
    <div class="form-actions no-color">

        <h5>Find Reservation By Apartment:</h5> <input type="text" name="searchAp" value="@ViewData["ApFilter"]" />
        <h5>Find Reservation By City:</h5> <input type="text" name="searchCity" value="@ViewData["CityFilter"]" />
        <h5>Date:</h5><input type="date" name="date" value="@date" />
        <br />
        <input type="checkbox" id="pastResCheckbox" name="showPastRes" @Html.Raw((pastRes ? "checked='checked'" : "")) value="true" />
        <label for="pastResCheckbox">Show Past Reservations</label>
        <br />
        <input type="submit" value="Search" class="btn btn-primary" />

    </div>
    <a class="btn-sm btn-danger" asp-action="MyReservation">Clear Search</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchseDate)
            </th>
            <th>
                My Rating
            </th>
            <th>
                My Review
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Apartments" asp-route-id="@item.Apartment.ID" style="">
                    @Html.DisplayFor(modelItem => item.Apartment.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(item.Review))
                {
                    <p>@item.Review</p>
                    //Html.DisplayFor(modelItem => item.Review);
                }
                else
                {
                    <p>No Review Submited</p>
                }
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID">Cancel Reservation |</a>
                <a asp-action="RateReservation" asp-route-id="@item.ID">Rate Your Stay</a>
            </td>
        </tr>
        }
    </tbody>
</table>
