@model IEnumerable<GroundBNB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    var date = ViewData["DateFilter"] as string;
    bool pastRes = (bool)ViewData["PastRes"];

}

<style>
    label {
        font-weight: bold;
    }
</style>
<main class="main-list">
    <h1>My Reservations</h1>
    <form asp-action="MyReservation" method="get" style="margin-top: 10px;">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="searchName">Find Reservation By Title</label>
                <input type="text" id="searchName" class="form-control" name="searchAp"
                    value="@ViewData["ApFilter"]">
            </div>
            <div class="form-group col-md-6">
                <label for="searchCity">Find Reservation By City</label>
                <input type="text" id="searchCity" class="form-control" name="searchCity"
                    value="@ViewData["CityFilter"]">
            </div>
        </div>
        <div class="form-group">
            <label for="startDate">Date</label>
            <input type="date" id="startDate" class="form-control" name="startDate" value="@date">
        </div>
        <div class="form-group">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pastResCheckbox" name="showPastRes" @Html.Raw((pastRes ? "checked='checked'" : "")) value="true">
            <label class="form-check-label" for="pastResCheckbox">
                Show Past Reservations
            </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <button class="btn btn-danger" asp-action="Index">Clear Search</button>
    </form>
</main>
<main class="main-list">
    @foreach (var item in Model)
    {
        <section>
            <a asp-action="Details" asp-controller="Apartments" asp-route-id="@item.Apartment.ID">
                <div class="data">
                    <div class="desc">
                        <h2>@Html.DisplayFor(modelItem => item.Apartment.Title)</h2>
                        <p>
                            @Html.DisplayFor(modelItem => item.Apartment.Description)
                        </p>
                        <p>
                            <strong>St: </strong> @Html.DisplayFor(modelItem => item.Apartment.Street)<br />
                            <strong>Floor: </strong> @Html.DisplayFor(modelItem => item.Apartment.Floor)<br />
                            <strong>Apartment Number: </strong> @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber) <br />
                            <strong>Fit For @Html.DisplayFor(modelItem => item.Apartment.MaxNumOfGuests) Guests</strong>
                    <strong>Guests: </strong>@Html.DisplayFor(modelItem => item.NumberOfGuests)<br/>
                    <strong>Start Date: </strong>@Html.DisplayFor(modelItem => item.StartDate)<br/>
                    <strong>End Date: </strong>@Html.DisplayFor(modelItem => item.EndDate)<br/>
                    <strong>Purchase Data: </strong>@Html.DisplayFor(modelItem => item.PurchseDate)

                        </p>
                    </div>
                    <div class="tools">
                        <a asp-action="Delete" asp-route-id="@item.ID">Cancel Reservation |</a>
                        <a asp-action="RateReservation" asp-route-id="@item.ID">Rate Your Stay</a>
                    </div>
                </div>
                <div class="data">
                    <div class="desc">
                        <p>
                    @if (!String.IsNullOrEmpty(item.Review))
                    {
                        <p>@item.Review</p>
                    }
                    else
                    {
                        <p>No Review Submited</p>
                    }
                        </p>
                    </div>
                </div>
                <div class="footerdata">
                    @Html.DisplayFor(modelItem => item.Apartment.City) <span>|</span> $@Html.DisplayFor(modelItem =>
                item.Apartment.PricePerDay)/day <span>|</span> @Html.DisplayFor(modelItem => item.Apartment.NumOfRooms) Rooms

                    <span>|</span> Rating: @(item.Rating)/5

                </div>
            </a>
        </section>
    }
</main>









@* 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchseDate)
            </th>
            <th>
                My Rating
            </th>
            <th>
                My Review
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Apartments" asp-route-id="@item.Apartment.ID" style="">
                        @Html.DisplayFor(modelItem => item.Apartment.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.Review))
                    {
                        <p>@item.Review</p>
                        //Html.DisplayFor(modelItem => item.Review);
                    }
                    else
                    {
                        <p>No Review Submited</p>
                    }
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID">Cancel Reservation |</a>
                    <a asp-action="RateReservation" asp-route-id="@item.ID">Rate Your Stay</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
