@model IEnumerable<GroundBNB.Models.Reservation>

@{
    ViewData["Title"] = "Reservations For my Apartments";
}

<h1>Reservations For my Apartments</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Guest.FirstName @item.Guest.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfGuests)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Apartments" asp-route-id="@item.Apartment.ID" style="">
                        @Html.DisplayFor(modelItem => item.Apartment.Title)
                        </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.Review))
                    {
                        Html.DisplayFor(modelItem => item.Review);
                    }
                    else
                    {
                        <p>No Review Submited</p>
                    }
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID">Cancel Reservation |</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
