@model IEnumerable<GroundBNB.Models.Reservation>

@{
    ViewData["Title"] = "Reservations For my Apartments";
}



<main class="main-list">
    <h1>Reservations For my Apartments</h1>
    @foreach (var item in Model)
    {
        <section>
            <a asp-action="Details" asp-controller="Apartments" asp-route-id="@item.Apartment.ID">
                <div class="data">
                    <div class="desc">
                        <h2>@Html.DisplayFor(modelItem => item.Apartment.Title)</h2>
                        <p>
                            @Html.DisplayFor(modelItem => item.Apartment.Description)
                        </p>
                        <p>
                            <strong>St: </strong> @Html.DisplayFor(modelItem => item.Apartment.Street)<br />
                            <strong>Floor: </strong> @Html.DisplayFor(modelItem => item.Apartment.Floor)<br />
                            <strong>Apartment Number: </strong> @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber) <br />
                            <strong>Fit For @Html.DisplayFor(modelItem => item.Apartment.MaxNumOfGuests) Guests</strong>
                            <strong>Guests: </strong>@Html.DisplayFor(modelItem => item.NumberOfGuests)<br />
                            <strong>Start Date: </strong>@Html.DisplayFor(modelItem => item.StartDate)<br />
                            <strong>End Date: </strong>@Html.DisplayFor(modelItem => item.EndDate)<br />
                            <strong>Purchase Data: </strong>@Html.DisplayFor(modelItem => item.PurchseDate)

                        </p>
                    </div>
                    <div class="tools">
                        <a asp-action="Delete" asp-route-id="@item.ID">Cancel Reservation</a>
                    </div>
                </div>
                <div class="data">
                    <div class="desc">
                        <p>
                            @if (!String.IsNullOrEmpty(item.Review))
                            {
                            <p>@item.Review</p>
                        }
                        else
                        {
                            <p>No Review Submited</p>
                        }
                            </p>
                        </div>
                    </div>
                    <div class="footerdata">
                        @Html.DisplayFor(modelItem => item.Apartment.City) <span>|</span> $@Html.DisplayFor(modelItem =>
item.Apartment.PricePerDay)/day <span>|</span> @Html.DisplayFor(modelItem => item.Apartment.NumOfRooms) Rooms

<span>|</span> Rating: @(item.Rating)/5

</div>
</a>
</section>
}
</main>
